#main-header {
    background-color: rgb(54, 54, 54);
    color: white;
}

#search-container {
    background-color: #EEEEEE;
}

#search-msg {
    color: red;
}

#city-weather {
    visibility: hidden;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#searched-cities:hover {
    cursor: pointer;
}

#uv-index {
    border-radius: 5px;
    color: white;
}

.card {
    background-color: #0c6efd;
    color: white;
}

